<h1>Мы начинаем!</h1>

<!DOCTYPE html>
  <head>
    <title>My Animals</title>
  </head>
<body>
  
<h1><%= @name %></h1>
<form action="/" method="post">
  <input type="text" name="name" value="s">
  <button name="feed">кормить</button>
  <button name="putToBed">убаюкивать</button>
  <button name="walk">гулять</button>
  <button name="toss">играть</button>
  <button name="wash">мыть</button>
  <button name="help">помощь</button>
  <button name="exit"> выйти </button>
</form>
<p>
	<h1>Имя - </h1> <%= @name %>
  <h1>Вид - </h1> <%= @breed || "Cat" %>
  <h1>Здоровье - </h1> <%= @life || 10 %>
  <h1>Настроение - </h1> <%= @mood || 100 %>
  <h1>Голод - </h1> <%= @hungry || 100 %>
  <h1>Сонливость - </h1> <%= @sleepy || 200 %>
</p>
</body>
</html>